body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    margin: 0 auto;
    padding: 0;
    background-color: #191916;
    position: relative;
    overflow: hidden; /* Para evitar barras de rolagem quando a bola sair da tela */
}

header {
    display: flex;
    color: white;
    padding: 36px 76px;
    align-items: start;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}


nav ul li {
    margin: 0 15px;
    transition: .5s ease;
}

nav ul li:hover {
    transform: scale(1.10);
    opacity: 0.75;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

p {
    font-size: small;
}

main {
    max-width: 1176px;
    padding: 20px;
    text-align: center;
    color: white;
}

footer {
    color: #2e2e33;
    text-align: center;
    padding: 10px 0;
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilo da bola branca */
.ball1 {
    width: 80px;
    height: 80px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.493));
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.329);
    border-radius: 50%;
    top: 20%;
    left: 30%;
    animation: moveBall1 15s ease-in-out infinite alternate;
}

@keyframes moveBall1 {
    0% {
        transform: translate3d(-50%, -500%, 0) scale(1);
    }
    25% {
        transform: translate3d(200%, -60%, 50px) scale(1.2);
    }
    50% {
        transform: translate3d(-20%, 80%, -50px) scale(0.8);
    }
    75% {
        transform: translate3d(800%, 500%, 30px) scale(1.1);
    }
    100% {
        transform: translate3d(-300%, -50%, 0) scale(1);
    }
}

/* Bola 2 */
.ball2 {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.493));
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.329);
    border-radius: 50%;
    top: 50%;
    left: 70%;
    animation: moveBall2 20s ease-in-out infinite alternate;
}

@keyframes moveBall2 {
    0% {
        transform: translate3d(-50%, -400%, 0) scale(1);
    }
    25% {
        transform: translate3d(40%, -800%, 100px) scale(1.3);
    }
    50% {
        transform: translate3d(-10%, 100%, -80px) scale(0.9);
    }
    75% {
        transform: translate3d(120%, 80%, 70px) scale(1.2);
    }
    100% {
        transform: translate3d(-400%, -1000%, 0) scale(1);
    }
}

/* Bola 3 */
.ball3 {
    width: 120px;
    height: 120px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.493));
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.329);
    border-radius: 50%;
    top: 70%;
    left: 50%;
    animation: moveBall3 25s 2s ease-in-out infinite alternate;
}

@keyframes moveBall3 {
    0% {
        transform: translate3d(-50%, -300%, 0) scale(1);
    }
    25% {
        transform: translate3d(-600%, -40%, 150px) scale(1.4);
    }
    50% {
        transform: translate3d(-30%, 120%, -100px) scale(1.0);
    }
    75% {
        transform: translate3d(1000%, 1000%, 90px) scale(1.3);
    }
    100% {
        transform: translate3d(500%, -150%, 0) scale(1);
    }
}

/* ===== TEXTO ANIMADO ===== */

.texto-animado {
    font-size: 40%;
    color: #DBDDFF;
    margin-top: 64px;
}

.h1-animado {
    font-weight: 300;
}

.h1-animado span {
    position: relative;
}

.h1-animado span::before {
    content: "";
    color: #566caa;
    animation: palavras 30s infinite;
}

.h1-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #566caa;
    right: -10px;
    animation: cursor 1s infinite, digita 30s steps(35) infinite;
    width: calc(100% + 15px);
    background-color: #191916;
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 15px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid #161619;
    }
}

@keyframes palavras {
    0%, 33% {
        content: "visões em realidade com criatividade e precisão.";
    }
    34%, 64% {
        content: "desafios em oportunidades com inovação e estratégia.";
    }
    65%, 100% {
        content: "ideias em resultados concretos com paixão e expertise.";
    }
}

/* ===== GRADIENTE INFINITO ===== */
.gradiente-infinito {
    height: 4px;
    width: 75%;
    background-image: linear-gradient(to left, blue, orangered, yellow);
    background-size: 500% 100%; 
    border-radius: 12px;

    margin: 0 auto;
    animation: degrade 3s infinite alternate;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }
    50% {
        background-position-x: 50%;
    }
    100% {
        background-position-x: 100%;
    }
}