body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191916;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    width: 100%;
    background: rgba(25, 25, 22, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 20px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 10;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #f39c12;
    transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a:hover::before {
    width: 100%;
    left: 0;
}

nav ul li a:hover {
    color: #f39c12;
    transform: scale(1.1);
}

main {
    margin-top: 100px; /* Ajuste para deixar espaço para o header fixo */
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
}

.ball1, .ball2, .ball3 {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
}

.ball1 {
    width: 80px;
    height: 80px;
    top: 10%;
    left: 20%;
    animation: moveBall1 12s infinite alternate ease-in-out;
}

.ball2 {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 70%;
    animation: moveBall2 18s infinite alternate ease-in-out;
}

.ball3 {
    width: 120px;
    height: 120px;
    top: 80%;
    left: 40%;
    animation: moveBall3 22s infinite alternate ease-in-out;
}

@keyframes moveBall1 {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(300%, 300%) scale(1.2);
    }
}

@keyframes moveBall2 {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-300%, -300%) scale(0.8);
    }
}

@keyframes moveBall3 {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(400%, -400%) scale(1.1);
    }
}
