/* ===== ESTILOS GERAIS ===== */
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
}

header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1128px;
    padding: 32px 76px;
    align-items: center;
}

body {
    height: 100vh;
    overflow: hidden;
}

ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão da lista */
    margin: 0; /* Remove a margem padrão da lista */
    display: flex; /* Exibe os itens da lista em linha */
}

/* ===== NAVBAR ===== */
li {
    margin-right: 24px;
    cursor: pointer;
    position: relative;
}

li::after {
    content: ""; /* Adiciona um conteúdo vazio */
    position: absolute; /* Permite posicionar a bolinha com precisão */
    top: -30px; /* Posiciona a bolinha na parte inferior do item */
    left: 50%; /* Centraliza a bolinha horizontalmente em relação ao item */
    transform: translateX(-50%); /* Ajusta a posição horizontal para centralizar */
    width: 10px; /* Largura da bolinha */
    height: 10px; /* Altura da bolinha */
    background-color: #DBDDFF; /* Cor da bolinha */
    border-radius: 50%; /* Faz com que o elemento se torne redondo */
    opacity: 0; /* Inicialmente invisível */
    transition: all 0.5s ease; /* Transição suave para todas as propriedades */
}

li:hover::after {
    top: -20px; /* A bolinha sobe 10 pixels ao passar o mouse */
    opacity: 1; /* Torna a bolinha visível ao passar o mouse */
}

/* ===== BOTAO ===== */
.btn {
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
    text-decoration: none;
    display: block;
    color: #DBDDFF;
    padding: 8px 36px;
    border: 2px solid #DBDDFF;
    border-radius: 8px;
    overflow: hidden; /* Garante que o pseudo-elemento não ultrapasse os limites do botão */
    background-color: transparent; /* Garante que o fundo do botão permaneça transparente */
    transition: color 1s ease; /* Transição para a cor do texto */
}

.btn::before {
    content: "";
    position: absolute; /* Posiciona o pseudo-elemento dentro do botão */
    top: 100%; /* Inicialmente fora da vista, na parte inferior */
    left: 0;
    width: 100%;
    height: 100%;
    background: #DBDDFF; /* Cor do "líquido" */
    transform: scaleY(0); /* Inicialmente escondido */
    transform-origin: bottom; /* A transformação inicia do fundo */
    z-index: -1; /* Coloca o pseudo-elemento atrás do texto */
    transition: transform 1s ease; /* Transição suave para o preenchimento */
}

.btn:hover::before {
    animation: wave 0.8s ease-in-out forwards; /* Adiciona a animação de onda */
}

.btn:hover {
    color: #566caa; /* Muda a cor do texto quando o botão está sendo preenchido */
}

.btn span {
    position: relative; /* Permite que o texto esteja acima do pseudo-elemento */
    z-index: 1; /* Garante que o texto esteja visível sobre o "líquido" */
}

@keyframes wave {
    0% {
        transform: scaleY(0); /* Começa com o líquido fora da vista */
        top: 100%;
    }
    100% {
        transform: scaleY(1); /* Liquido subindo e preenchendo o botão */
        top: 0;
    }
}

/* ===== BACKGROUND ===== */

.bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* ===== CONTAINER ===== */

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 96px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    flex-direction: column;
}

.texto-principal{
    font-weight: 500;
    margin-top: 16px;
}

.paragrafo-principal {
    max-width: 900px;
    color: #DBDDFF;
    margin-top: 16px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

/* ===== GRADIENTE INFINITO ===== */
.gradiente-infinito {
    height: 2px;
    width: 75%;
    background-image: linear-gradient(to left, blue, orangered, yellow);
    background-size: 500% 100%; 

    margin: 0 auto;
    animation: degrade 3s infinite alternate;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }
    50% {
        background-position-x: 50%;
    }
    100% {
        background-position-x: 100%;
    }
}

/* ===== TEXTO ANIMADO ===== */

.texto-animado {
    font-size: 12px;
    color: #DBDDFF;
}

.h1-animado {
    font-weight: 300;
}

.h1-animado span {
    position: relative;
}

.h1-animado span::before {
    content: "";
    color: #566caa;
    animation: palavras 30s infinite;
}

.h1-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #566caa;
    right: -10px;
    animation: cursor 1s infinite, digita 30s steps(35) infinite;
    width: calc(100% + 15px);
    background-color: #161619;
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 15px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid #161619;
    }
}

@keyframes palavras {
    0%, 33% {
        content: "visões em realidade com criatividade e precisão.";
    }
    34%, 64% {
        content: "desafios em oportunidades com inovação e estratégia.";
    }
    65%, 100% {
        content: "ideias em resultados concretos com paixão e expertise.";
    }
}

/* Por praxe eu costumo criar classes para facilitar meu desenvolvimento, deixarei marcado aqui onde estou iniciando essas
classas e no final quando terminar as classes também, fique a vontade para ler se quiser entender meu workflow hahaha */

.bg-black {
    background-color: #161619;
}

.color-white {
    color: #DBDDFF;
}
