body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    background-color: #191916;
    color: white;
    position: relative;
    overflow-x: hidden; /* Para evitar rolagem horizontal */
}

header {
    width: 100%;
    background: rgba(25, 25, 22, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 0px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 20px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 10;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #f37712;
    transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a:hover::before {
    width: 100%;
    left: 0;
}

nav ul li a:hover {
    color: #f37712;
    transform: scale(1.1);
}

main {
    max-width: 800px;
    padding: 80px 20px 20px; 
    text-align: left;
    margin: 0 auto; /* Centralizar o main */
}

.formacao {
    padding: 40px 20px;
}

.formacao h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.linha {
    width: 60px;
    height: 4px;
    background-image: linear-gradient(to left, blue, orangered, yellow);
    background-size: 500% 100%; 
    border-radius: 12px;
    margin: 0 auto 40px auto;
    animation: degrade 3s infinite alternate;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }
    50% {
        background-position-x: 50%;
    }
    100% {
        background-position-x: 100%;
    }
}

.formacao-item {
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor leitura */
    padding: 20px;
    border-radius: 10px;
}

.formacao-item h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.formacao-item p {
    margin: 5px 0 10px 0;
    line-height: 1.5;
}

footer {
    color: #2e2e33;
    text-align: center;
    padding: 10px 0;
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #191916; /* Fundo para o footer não ficar transparente */
}
