body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    background-color: #191916;
    color: white;
    position: relative; /* Para que tudo que esteja dentro do body tenha posição relativa a ele */
}

header {
    width: 100%;
    background: rgba(25, 25, 22, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 1000; /* Para deixar o cabeçalho sempre acima */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 0px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 20px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 10;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #f37712;
    transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a:hover::before {
    width: 100%;
    left: 0;
}

nav ul li a:hover {
    color: #f37712;
    transform: scale(1.1);
}
main {
    max-width: 800px;
    padding: 80px 20px 20px;
    text-align: center;
}

.projetos {
    padding: 40px 20px;
}

.projetos h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Aqui eu defini um gradiente para a linha que coloquei com intuito de fazer um keyframe infinite
para parecer que existe um degrade infinito */

.linha {
    width: 60px;
    height: 4px;
    background-image: linear-gradient(to left, blue, orangered, yellow);
    background-size: 500% 100%;
    border-radius: 12px;
    margin: 0 auto 40px auto;
    animation: degrade 3s infinite alternate;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }
    50% {
        background-position-x: 50%;
    }
    100% {
        background-position-x: 100%;
    }
}

.projeto-item {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}

.projeto-item:hover {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.logo-container {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    background: #ffd9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.projeto-item h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.projeto-item p {
    margin: 10px 0;
    line-height: 1.6;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2e2e33;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s ease;
}

.botao:hover {
    background-color: #444;
}

footer {
    color: #2e2e33;
    text-align: center;
    padding: 10px 0;
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #191916;
}
